<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daredevil</title>
  </head>
  <body>
    <div id="app">
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">{{character.name}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      // same as const {createApp} = Vue
      Vue.createApp({
        // same as data(){return}
        data: () => ({
          characterList: [
            { name: "Matt Murdoch/Daredevil" },
            { name: "Foggy Nelson" },
            { name: "Karen Page" },
            { name: "Wilson Fisk/Kingpin" },
          ],
        }),
      }).mount("#app");
    </script>
  </body>
</html>
