<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daredevil</title>
  </head>
  <body>
    <div id="app">
      <h1>Daredevil's Cast of Characters</h1>
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else-if="characterList.length % 2 ===0">
        <li v-for="character in characterList">
          <p>{{character.name}}</p>
          <button @click="favoriteCharacter(character)">Favorite</button>
        </li>
      </ul>
      <p>
        <span v-for="(character, index) in characterList">
          {{character.name}}{{index === characterList.length - 1 ? '' : ','}}
        </span>
      </p>
      <p v-else>There are odd characters</p>

      <h2>Favorite Characters</h2>
      <ul v-if="favoriteList.length > 0 ">
        <li v-for="character in favoriteList">{{character.name}}</li>
      </ul>
      <p v-else>No favorites yet!</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      // same as const {createApp} = Vue
      Vue.createApp({
        // same as data(){return}
        data: () => ({
          characterList: [
            { name: "Matt Murdoch/Daredevil" },
            { name: "Foggy Nelson" },
            { name: "Karen Page" },
            { name: "Wilson Fisk/Kingpin" },
          ],
          favoriteList: [],
        }),
        methods: {
          favoriteCharacter(character) {
            console.log("Favorite");
            this.favoriteList.push(character);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
