<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daredevil</title>
  </head>
  <body>
    <div id="app">
      <h2>Statistics</h2>
      <ul>
        <li v-for=" (stat, type) in characterStatistics">{{
          type}}: {{stat}}
        </li>
      </ul>
      <h2>Daredevil's Cast of Characters</h2>
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else-if="characterList.length % 2 ===0">
        <li v-for="character in characterList">
          <p>{{character.name}}</p>
          <button @click="favoriteCharacter(character)">Favorite</button>
        </li>
      </ul>
      <p>
        <span v-for="(character, index) in characterList">
          {{character.name}}{{index === characterList.length - 1 ? '' : ','}}
        </span>
      </p>
      <p v-else>There are odd characters</p>

      <h2>Favorite Characters</h2>
      <ul v-if="favoriteList.length > 0 ">
        <li v-for="character in favoriteList">{{character.name}}</li>
      </ul>
      <p v-else>No favorites yet!</p>
      <h2>New Character</h2>
      <pre>
        {{newCharacter}}
      </pre>
      <label type="character-name">Name</label>
      <input
        type="text"
        v-model="newCharacter.name"
        @keyup.enter="addNewCharacter"
      />
      <h2>Character Statistics</h2>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      // same as const {createApp} = Vue
      Vue.createApp({
        // same as data(){return}
        data: () => ({
          newCharacter: {
            name: "",
            role: ""
          },
          characterList: [
            { name: "Matt Murdoch/Daredevil", role: ["Hero", "Lawyer"] },
            { name: "Foggy Nelson", role: "Lawyer" },
            { name: "Karen Page", role: ["Assistant", "Reporter"] },
            { name: "Wilson Fisk/Kingpin", role: "Villian" },
          ],
          favoriteList: [],
        }),

        computed: {
          characterStatistics(){
            const roles = ["Hero", "Villian", "Lawyer", "Assistant", "Reporter"]
            const statistics = {
              Hero: 0,
              Villian: 0,
              Lawyer: 0,
              Assistant: 0,
              Reporter: 0
            }
            this.characterList.forEach(character =>{
              roles.forEach(role => {
                if (character.role.indexOf(role) > -1){
                  statistics[role] += 1
                }
              })
            })
           return statistics
          }
         },
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter);
            this.newCharacter = { name: "" };
          },
          favoriteCharacter(character) {
            console.log("Favorite");
            this.favoriteList.push(character);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
