<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>Hello</h1>
    <!-- checking character length of the message -->
    <!-- if the length is an even number, display "Even", else "Odd" -->
    <div id="app">
      <h1>Counter</h1>
      <p>{{count}}</p>
      <button v-on:click="increaseCount">Increase Count</button>
      <h1>{{increaseAmount}}</h1>
      <div>
        <label for="increaseAmount">Increase By:</label>
        <!-- telling Vue: on input event, run function changeIncreaseAmount -->
        <!-- we could use v-bind:value="increaseAmount"
          v-on:input="changeIncreaseAmount", but v-model configures that under the hood for us -->
        <input type="number" v-model="increaseAmount" />
      </div>
      <hr />
      <p v-if="message.length % 2 === 0">Even: {{message.toUpperCase()}}</p>
      <p v-else>Odd: {{message}}</p>
      <ul v-for="item in listOfNumbers">
        <li>
          {{item.id}}
          <ul>
            <li v-for="number in item.list">{{number}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      // Vue 3
      const { createApp } = Vue;
      const app = createApp(
        // configuration object
        // best practice across frameworks when managing data to have this be a function that
        // returns an object and the framework handles it from there
        {
          data() {
            return {
              count: 10,
              increaseAmount: 8,
              // reactive data message. Rendered with curly brace syntax in div above
              message: "Hello it works!",
              listOfNumbers: [
                { name: 1, id: "123", list: [1, 2, 3] },
                { name: 2, id: "456", list: [1, 2, 3] },
                { name: 3, id: "789", list: [1, 2, 3] },
                { name: 4, id: "101112", list: [1, 2, 3] },
                { name: 5, id: "131416", list: [1, 2, 3] },
              ],
            };
          },
          methods: {
            changeIncreaseAmount(event) {
              // if we did: this.increaseAmount = event.target.value, we would see the counter simply tacking on the "Increase By:" number to the end of the count as it is a string. We could use Number(this.increaseAmount = event.target.value) and it would work, but it it would be a round-about way of doing things. Instead, we can used v-model in our input
            },
            increaseCount() {
              this.count += this.increaseAmount;
            },
          },
        }
      );
      // telling Vue where we want to put the app
      app.mount("#app");
    </script>
  </body>
</html>
